@layer components {
    .px-page-row {
        @apply px-4 md:px-8 lg:px-16 xl:px-20;
    }

    // Classes added here will only be bundled if referenced in templates
    .mapboxgl-responsive-canvas .mapboxgl-canvas {
        width: 100% !important;
        height: 100% !important;
    }

    .map-block__container {
        .map-block--collapsed & {
            @apply relative h-[170px] md:h-[640px] max-h-[75vh];
        }
        .map-block--expanded & {
            @apply z-50 fixed inset-0 h-full w-full bg-blue-800 flex flex-col;
        }
    }

    .map-block__header {
        .map-block--collapsed & {
            @apply hidden;
        }
        .map-block--expanded & {
            @apply flex flex-row flex-shrink-0 flex-grow-0 justify-between p-3;
        }
    }

    .map-block__canvas_container {
        .map-block--collapsed & {
            @apply absolute inset-0 w-full h-full;
        }
        .map-block--expanded & {
            @apply w-full h-full md:px-3 md:pb-3;
        }

        .mapboxgl-map {
            .map-block--collapsed & {
                @apply border border-gray-300 rounded-sm overflow-hidden;
            }

            .map-block--expanded & {
                @screen md {
                    @apply rounded-sm;
                }
            }
        }

        .mapboxgl-popup {
            @screen <sm {
                @apply fixed bottom-0 left-0 p-4 justify-end;
                transform: none !important;
                max-width: none !important;
                width: 100% !important;
            }
        }

        .mapboxgl-popup-tip {
            display: none;
        }

        .mapboxgl-popup-content {
            padding: 0;
            overflow: hidden;
            @apply rounded-lg animate-popup;
        }
    }

    .map-block__mobile-launch-btn-container {
        .map-block--expanded & {
            display: none !important;
        }
    }
}

// From wagtail's RTF renderer
// !important added in order to counteract inline styles
.image-large {
    width: 100% !important;
    height: auto !important;
}

// FIX
// For some reason Tailwind isn't auto-generating this one
.group.swiper-slide-active .group-\[\.swiper-slide-active\]\:opacity-100 {
    opacity: 100;
}
