@layer components {
    // Classes added here will only be bundled if referenced in templates
}

// From wagtail's RTF renderer
// !important added in order to counteract inline styles
.image-large {
    width: 100% !important;
    height: auto !important;
}

// FIX
// For some reason Tailwind isn't auto-generating this one
.group.swiper-slide-active .group-\[\.swiper-slide-active\]\:opacity-100 {
    opacity: 100;
}
