{% load wagtailcore_tags wagtailimages_tags %}
{% firstof background value.background as background %}
<section class="group @container {{ class }} md:rounded-lg overflow-hidden {% if background == "dark" %} bg-blue-800{% endif %} flex flex-col justify-between">
    <div class="p-4 md:p-8 @[688px]:p-16">
        <h2 class="leading-tight text-2xl lg:@[688px]:text-4xl font-extrabold text-gray-900 {% if background == "dark" %} text-white{% endif %} mb-4">
            {{ value.title }}
        </h2>
        <div class="text-base lg:@[688px]:text-xl font-normal text-gray-700 {% if background == "dark" %} text-gray-50{% endif %}">
            {{ value.description|richtext }}
        </div>
        {% include "app/include/list_of_links.html" with links=value.links background=background %}
    </div>
    {% if value.image %}
        <div class="relative min-h-[200px] md:min-h-[293px] md:@[688px]:min-h-[400px] overflow-hidden">
            {% image value.image fill-700x450 as image %}
            <div class="bg-cover bg-center scale-100 transition-all group-hover:scale-110 absolute inset-0 w-full h-full"
                 style="background-image: url('{{ image.url }}')">
            </div>
        </div>
    {% endif %}
</section>
