{% load static wagtailcore_tags %}
<footer class="bg-background-tint">
    <div class="py-16 px-page-row">
        <div class="grid gap-8 lg:flex lg:flex-row lg:space-x-8">
            {% comment %} Logo {% endcomment %}
            <div class="mb-6 lg:mb-0 max-w-sm space-y-6">
                {# djlint:off D018 #}
                <a href="/"class="block">
                    {# djlint:on #}
                    <img src="{% static "app/logo.svg" %}"
                         class="mr-3 h-[60px] lg:h-[70px] w-auto"
                         alt="Humanitarian OpenStreetMap Team"/>
                </a>
                <div class="text-gray-500 lg:text-gray-700">{{ settings.app.FooterSetting.description }}</div>
                {% comment %} Social links {% endcomment %}
                <div class="flex flex-row justify-between items-center lg:justify-start lg:space-x-5">
                    {% include "app/include/social_icons.html" with class="text-gray-700 lg:w-6 lg:h-6 w-8 h-8" %}
                </div>
            </div>
            {% comment %} Footer nav links {% endcomment %}
            <nav class="grid gap-8 sm:grid-flow-col w-full">
                {% for section in settings.app.FooterSetting.navigation %}
                    <section>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase font-inter">{{ section.value.title }}</h2>
                        <ul class="text-gray-600 space-y-4">
                            {% for item in section.value.links %}
                                <li>
                                    <a href="{{ item.value.url }}" class="hover:underline">{{ item.value.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            </nav>
        </div>
        <hr class="my-8 lg:mt-16 border-gray-500 lg:border-gray-300" />
        <div>
            {% comment %} Hard coded micro links {% endcomment %}
            <div class="grid gap-6 grid-flow-row lg:gap-8 lg:grid-flow-col text-sm">
                <span class="text-gray-900 sm:text-left pr-2">Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community.</span>
                <div class="grid grid-flow-row gap-6 lg:grid-flow-col lg:gap-4 lg:[&_>_*:not(:last-child)]:after:content-['•'] lg:[&_>_*]:after:pl-4">
                    {# djlint:off D018 #}
                    <a href="/privacy" class="inline-block">Privacy</a>
                    {# djlint:on #}
                    {% comment %} <a href class="inline-block">Cookies</a> {% endcomment %}
                    <a href="{% url "wagtailadmin_home" %}" class="inline-block">Site admin login</a>
                    <a href="{% url 'swagger-ui' %}" class="inline-block">Site API docs</a>
                    <a href="https://status.hotosm.org" class="inline-block">Status page</a>
                    <a href="https://commonknowledge.coop" class="inline-block">Site by Common Knowledge</a>
                </div>
            </div>
        </div>
    </div>
</footer>
