{% load static menu_tags wagtailcore_tags %}
<footer class="bg-background-tint">
    <div class="py-16 px-4 lg:px-16">
        <div class="grid gap-8 lg:grid-cols-2">
            {% comment %} Logo {% endcomment %}
            <div class="mb-6 lg:mb-0 max-w-sm space-y-6">
                {# djlint:off D018 #}
                <a href="/"class="block">
                    {# djlint:on #}
                    <img src="{% static "app/logo.svg" %}"
                         class="mr-3 h-[60px] lg:h-[70px] w-auto"
                         alt="Humanitarian OpenStreetMap Team"/>
                </a>
                <div class="text-gray-500 lg:text-gray-700">
                    Humanitarian OpenStreetMap Team (HOT) sits at the nexus of participatory mapping, community-led development, humanitarian response, open data and tech.
                </div>
                {% comment %} Social links {% endcomment %}
                <div class="flex flex-row justify-between items-center lg:justify-start lg:space-x-5">
                    <a href="https://twitter.com/hotosm">
                        <img src="{% static "app/social/twitter.svg" %}"
                             class="lg:w-6 lg:h-6 w-8 h-8"
                             alt="Twitter profile link"/>
                    </a>
                    <a href="https://facebook.com/hotosm">
                        <img src="{% static "app/social/facebook.svg" %}"
                             class="lg:w-6 lg:h-6 w-8 h-8"
                             alt="Facebook profile link"/>
                    </a>
                    <a href="https://youtube.com/hotosm">
                        <img src="{% static "app/social/youtube.svg" %}"
                             class="lg:w-6 lg:h-6 w-8 h-8"
                             alt="Youtube profile link"/>
                    </a>
                    <a href="https://www.instagram.com/open.mapping.hubs/">
                        <img src="{% static "app/social/instagram.svg" %}"
                             class="lg:w-6 lg:h-6 w-8 h-8"
                             alt="Instagram profile link"/>
                    </a>
                    <a href="https://github.com/hotosm">
                        <img src="{% static "app/social/github.svg" %}"
                             class="lg:w-6 lg:h-6 w-8 h-8"
                             alt="Github profile link"/>
                    </a>
                </div>
            </div>
            {% comment %} Footer nav links {% endcomment %}
            <nav class="grid gap-8 sm:grid-flow-col w-full">
                <section>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase font-inter">Start Mapping</h2>
                    <ul class="text-gray-600 space-y-4">
                        <li>
                            <a class="hover:underline">Opportunities</a>
                        </li>
                        <li>
                            <a class="hover:underline">Getting started</a>
                        </li>
                        <li>
                            <a class="hover:underline">Community</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase font-inter">Work With Us</h2>
                    <ul class="text-gray-600 space-y-4">
                        <li>
                            <a class="hover:underline ">Partnerships</a>
                        </li>
                        <li>
                            <a class="hover:underline">Projects</a>
                        </li>
                        <li>
                            <a class="hover:underline">Using GIS data</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase font-inter">Our Mission</h2>
                    <ul class="text-gray-600 space-y-4">
                        <li>
                            <a href="#" class="hover:underline">About</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Strategy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Donate</a>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        <hr class="my-8 lg:mt-16 border-gray-500 lg:border-gray-300" />
        <div>
            {% comment %} Hard coded micro links {% endcomment %}
            <div class="grid gap-6 grid-flow-row lg:gap-8 lg:grid-flow-col text-sm">
                <span class="text-gray-900 text-center sm:text-left pr-2">Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community.</span>
                <div class="grid grid-flow-row gap-6 lg:grid-flow-col lg:gap-4 lg:[&_>_*:not(:last-child)]:after:content-['•'] lg:[&_>_*]:after:pl-4">
                    {# djlint:off D018 #}
                    <a href="/privacy" class="inline-block">Privacy</a>
                    {# djlint:on #}
                    {% comment %} <a href class="inline-block">Cookies</a> {% endcomment %}
                    <a href="{% url "wagtailadmin_home" %}" class="inline-block">Site login and documentation</a>
                    <a href="https://status.hotosm.org" class="inline-block">Status</a>
                    <a href="https://commonknowledge.coop" class="inline-block">Site by Common Knowledge</a>
                </div>
            </div>
        </div>
    </div>
</footer>
