{% load wagtailcore_tags wagtailimages_tags %}
{% comment %} 
Args:
- background=True
  will place the theme colour in the background
- image_background=True
  will place the featured_image in the background
- icon=True
  will place the page's light or dark icon in the sidebar, depending on whether a background exists or not

You can override the sidebar (e.g. to place custom content) via the {% block sidebar %}
{% endcomment %}
{% firstof background image_background as dark_background %}
{% if image_background %}
    {% image page.featured_image width-1400 as img %}
{% endif %}
<header class="px-page-row relative {% if dark_background %}py-24{% endif %} {% if dark_background and transparent_navbar %}pt-[170px]{% endif %} {% if background %}text-white bg-theme-900{% endif %} {% if image_background %}bg-cover bg-center before:contents['.'] before:text-transparent before:absolute before:bg-black before:bg-opacity-30 before:inset-0 before:w-full before:h-full before:z-10{% endif %}"
        {% if image_background %}style="background-image: url('{{ img.url }}')"{% endif %}>
    <div class="flex flex-col md:flex-row justify-between {% if icon %}items-start{% else %}items-stretch{% endif %} {% if not dark_background %}py-8 md:py-12 lg:py-24 border-b border-b-gray-300{% endif %}">
        <div class="relative z-20 max-w-prose">
            {% block page_cover_title %}
                <div class="text-sm font-medium capitalize content-separator-2 separator-content-bullet">
                    {% block page_label %}
                        <span>{{ page.label }}</span>
                    {% endblock page_label %}
                </div>
                <h1 class="{% if not dark_background %}text-gray-900{% endif %} my-6 font-extrabold text-4xl sm:text-6xl leading-tight sm:leading-none">
                    {% block page_title_text %}
                        {{ page.title }}
                    {% endblock page_title_text %}
                </h1>
            {% endblock page_cover_title %}
            {% if page.short_summary %}
                <div class="my-6 text-base md:text-xl font-medium space-y-4">{{ page.short_summary|richtext }}</div>
            {% endif %}
        </div>
        <div class="mb-6 md:mb-0 md:ml-6 w-full h-full">
            {% block aside %}
                {% if icon and dark_background and page.icon_light_transparent %}
                    {% image page.icon_light_transparent width-200 class="w-[80px] md:w-[180px]" %}
                {% elif icon and page.icon_dark_transparent %}
                    {% image page.icon_dark_transparent width-200 class="w-[80px] md:w-[180px]" %}
                {% endif %}
            {% endblock aside %}
        </div>
    </div>
</header>
