{% extends "app/include/page_cover.html" %}
{% load wagtailimages_tags %}
{% block aside %}
    {% image page.featured_image width-768 as img %}
    {% if img is not None %}
        <div class="md:ml-auto overflow-hidden rounded-lg relative w-full h-full md:max-w-[300px] min-h-[300px] md:min-h-[200px]">
            <div class="bg-cover bg-center scale-100 transition-all group-hover:scale-110 absolute inset-0 w-full h-full"
                 style="background-image: url('{{ img.url }}')">
            </div>
        </div>
    {% endif %}
{% endblock aside %}
