{% load static app i18n wagtailcore_tags %}
<nav class="border-gray-300 border-b relative bg-yellow-50">
    <div class="flex flex-col md:flex-row justify-start md:items-center space-y-2 md:space-y-0 md:space-x-4 p-4">
        <div class="flex-shrink-0">
            <div class="inline-block bg-yellow-100 text-yellow-900 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-800">
                DEVELOPER PREVIEW
            </div>
        </div>
        <div class="text-md md:text-sm lg:text-base">
            This site is in active development. Visit <a class="underline"
    href="https://hotosm.slack.com/archives/C03HL3ECNRX">#website-common-knowledge-hot</a> for news and discussion.
        </div>
    </div>
</nav>
