{% firstof class "text-gray-700 lg:w-6 lg:h-6 w-8 h-8" as class %}
<a href="https://twitter.com/hotosm">{% include "app/icons/twitter.svg" with class=class %}</a>
<a href="https://facebook.com/hotosm">{% include "app/icons/facebook.svg" with class=class %}</a>
<a href="https://youtube.com/hotosm">{% include "app/icons/youtube.svg" with class=class %}</a>
<a href="https://www.instagram.com/open.mapping.hubs/">{% include "app/icons/instagram.svg" with class=class %}</a>
<a href="https://github.com/hotosm">{% include "app/icons/github.svg" with class=class %}</a>
