{% load wagtailcore_tags %}
{% for block in streamfield %}
    {% if block.block_type == "richtext" %}
        <div class=" prose-lg prose-headings:text-gray-900 prose-p:text-gray-800 prose-a:text-theme-500 prose-a:font-semibold prose-a:underline prose-p:leading-normal ">
            {% include_block block %}
        </div>
    {% elif block.block_type == "simple_link" %}
        <a href="{% firstof block.value.url block.value.page.url %}"
           class="block no-underline text-red">
            {% firstof block.value.label block.value.page.title %} →
        </a>
    {% else %}
        {% include_block block %}
    {% endif %}
{% endfor %}
