{% load wagtailimages_tags wagtailcore_tags %}

<section class='border-b border-gray-200 grid-cols-1 {% if value.image %}sm:grid-cols-2 {% endif %} grid gap-6 md:gap-8'>
    <div class='flex flex-col justify-center mb-4'>
        <h2 class='text-xl font-bold mb-2'>{{ value.title }}</h2>
        <div class="mb-2">{{ value.description|richtext }}</div>
        <a href="{% firstof value.link_url value.link_page.url %}" class="block no-underline text-red">
            {% firstof value.link_label value.link_page.title %} &rarr;
        </a>
    </div>
    {% if value.image %}
        {% image value.image width-300 %}
    {% endif %}
</section>
