{% load wagtailimages_tags %}
<section class="py-16 px-4 lg:px-20">
    <h2 class="leading-tight text-2xl md:text-4xl font-extrabold text-gray-900 mb-8 lg:mb-12 sm:max-w-md md:max-w-3xl">
        {{ self.title }}
    </h2>
    <div class="-mx-4 grid gap-y-4 items-center grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:flex-row xl:flex xl:flex-wrap xl:justify-between">
        {% for partner in self.partners %}
            <a href="{{ partner.url }}"
               target="_blank"
               rel="noopener noreferrer"
               class="p-4">
                {% image partner.logo width-128 class="grayscale" %}
            </a>
        {% endfor %}
    </div>
</section>
