{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<section class="bg-red-900 md:rounded-xl md:mx-4">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:pb-12 lg:pt-0">
        <div id="testimonial-carousel" class="relative" data-carousel="static">
            <div class="overflow-x-hidden overflow-y-visible relative mx-auto max-w-screen-md h-[430px] md:h-[440px] rounded-lg">
                {% for testimonial in value.testimonials %}
                    <figure class="hidden mx-auto w-full max-w-screen-md" data-carousel-item>
                        <div class="flex flex-col justify-center h-[430px] md:h-[440px]">
                            <blockquote>
                                <p class="leading-relaxed text-2xl font-semibold text-background-tint sm:text-2xl dark:text-white">
                                    {{ testimonial.quote|richtext|striptags }}
                                </p>
                            </blockquote>
                            <figcaption class="flex justify-center items-center mt-6 space-x-3">
                                {% image testimonial.image width-120 height-120 as img %}
                                <img class="w-[32px] h-[32px] lg:w-[60px] lg:h-[60px] rounded-full"
                                     src="{{ img.url }}"
                                     alt="{{ testimonial.name }}"/>
                                <div class="flex items-center">
                                    <div class="pr-3 leading-tight text-base font-semibold text-background-tint">
                                        {{ testimonial.name }}, {{ testimonial.location }}
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                    </figure>
                {% endfor %}
            </div>
            <div class="flex justify-center items-center">
                <button type="button"
                        class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none"
                        data-carousel-prev>
                    <span class="text-red-500">
                        <svg class="w-6 h-6"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                            </path>
                        </svg>
                        <span class="hidden">Previous</span>
                    </span>
                </button>
                <button type="button"
                        class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
                        data-carousel-next>
                    <span class="text-red-500">
                        <svg class="w-6 h-6"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </path>
                        </svg>
                        <span class="hidden">Next</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
