{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}align-items-center justify-content-center bg-dark text-white{% endblock %}

{% block content %}

<div class="home">

  {% include_block page.layout %}
  
  <div class="home-highlights-controls">
    
    <div class="home-controls">
      <div class="control" id="control-left">Left</div>
      <div class="control" id="control-right">Right</div>
    </div>
    
    <div class="home-highlights">
      
      <div class="home-highlights-wrapper piwikTrackContent">
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <a href="/projects/scaling-missing-maps-in-uganda-and-drc/" class="home-highlight">
          <img src="https://hotosm.org/uploads/WhatsApp%20Image%202021-03-17%20at%2010.58.16-4a37df.jpeg">
          <div class="home-highlight-title">
            <p>
              Scaling Missing Maps in Uganda and DRC
            </p>
            <p><span>
              
              
              <i>Democratic Republic of the Congo</i>
              
              <i>Uganda</i>
              
              
            </span></p>
          </div>
        </a>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <a href="/projects/open-data-for-resilience-and-risk-management-initiative-open-cities-latin-america-and-caribbean-lac/" class="home-highlight">
          <img src="https://hotosm.org/uploads/IMG_20181005_072113-1b9d2c.jpg">
          <div class="home-highlight-title">
            <p>
              Open Data for Resilience and Risk Management Initiative: Open Cities Latin America and Caribbean
            </p>
            <p><span>
              
              5 Countries
              
            </span></p>
          </div>
        </a>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <a href="/projects/h2h-haiti/" class="home-highlight">
          <img src="https://hotosm.org/uploads/H2H%20Haiti%20for%20Website.png">
          <div class="home-highlight-title">
            <p>
              H2H Haiti
            </p>
            <p><span>
              
              
              <i>Haiti</i>
              
              
            </span></p>
          </div>
        </a>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </div>
    </div>
  </div>
  
  <div class="container home-stats">
    <div class="home-stat">
      <center><p class="loader"></p></center>
      <p class="stat-number" id="Community-Mappers"></p>
      <p class="stat-title">Community Mappers<sup>&#9432;</sup>
        <span class="tooltiptext">Total number of Mappers using HOT Tasking Manager</span>
      </p>
    </div>
    <div class="hr-v"></div>
    <div class="home-stat">
      <center><p class="loader"></p></center>
      <p class="stat-number" id="Total-Map-Edits"></p>
      <p class="stat-title">Total Map Edits<sup>&#9432;</sup>
        <span class="tooltiptext">Total number of edits from <a href="https://www.missingmaps.org/" target="_blank">Missing Maps</a></span>
      </p>
    </div>
    <div class="hr-v hide-sm"></div>
    <div class="home-stat">
      <center><p class="loader"></p></center>
      <p class="stat-number" id="Buildings-Mapped"></p>
      <p class="stat-title">Buildings Mapped<sup>&#9432;</sup>
        <span class="tooltiptext">Total number of buildings mapped from <a href="https://www.missingmaps.org/" target="_blank">Missing Maps</a></span>
      </p>
    </div>
    <div class="hr-v"></div>
    <div class="home-stat">
      <center><p class="loader"></p></center>
      <p class="stat-number" id="Roads-Mapped"></p>
      <p class="stat-title">Roads Mapped (KM)<sup>&#9432;</sup>
        <span class="tooltiptext">Total length of roads mapped from <a href="https://www.missingmaps.org/" target="_blank">Missing Maps</a></span>
      </p>
    </div>
  </div>
  
  <div class="news-preview">
    <div class="container">
      
      <header class="module-header">
        <h6>Updates</h6>
      </header>
      
      <div class="news-preview-group">
        
        
        <div class="news-preview-item item-1">
          <div class="news-preview-image">
            <img  src="https://hotosm.org/uploads/AP%20club%20sponsorship%20(1).png">
          </div>
          <div class="news-preview-details">
            <p class="news-preview-meta"> 5 Aug 2022</p>
            <div class="news-preview-text">
              <a href="/updates/omhap-student-clubs-sponsorship-call/"><h4>OMHAP Student Clubs Sponsorship Call</h4></a>
              <p>
                
                Applications for Asia-Pacific University Students Clubs Sponsorship are Open!
                Dates: 5 August - 26 August 2022
                
                
              </p>
              <p class="news-preview-meta">
                
                
                
                Global
                
                
                
                
                -
                Can Unen
                
                
              </p>
            </div>
          </div>
        </div>
        
        <div class="news-preview-item item-2">
          <div class="news-preview-image">
            <img  src="https://hotosm.org/uploads/Collaborators%20logo%20image.JPG">
          </div>
          <div class="news-preview-details">
            <p class="news-preview-meta">28 Jul 2022</p>
            <div class="news-preview-text">
              <a href="/updates/first-hot-unsummit-event-collaborations-announced/"><h4>First HOT unSummit event collaborations announced</h4></a>
              <p>
                
                HOT teams up with event organizers across the world to bring humanitarian open mapping to new people and places in 2022!
                
                
              </p>
              <p class="news-preview-meta">
                
                
                
                Global
                
                
                
                
              </p>
            </div>
          </div>
        </div>
        
        <div class="news-preview-item item-3">
          <div class="news-preview-image">
            <img  src="https://hotosm.org/uploads/Collaborators%20logo%20image.JPG">
          </div>
          <div class="news-preview-details">
            <p class="news-preview-meta">28 Jul 2022</p>
            <div class="news-preview-text">
              <a href="/updates/anunciamos-las-primeras-colaboraciones-del-evento-hot-unsummit/"><h4>Anunciamos las primeras colaboraciones del evento HOT unSummit</h4></a>
              <p>
                
                ¡HOT y organizadores de eventos en todo el mundo se asocian para llevar el mapeo abierto humanitario a nuevas personas y lugares el 2022!
                
              </p>
              <p class="news-preview-meta">
                
                
                
                Global
                
                
                
                
              </p>
            </div>
          </div>
        </div>
        
        
      </div>
      
    </div>
  </div>
  
  <div class="container">
    
    <div class="impact-areas-module">
      <div class="impact-areas-wrapper">
        <h2>Our Impact</h2>
        <div class="impact-description">
          <p>HOT's work is global in scale and contributes to the achievement of the Sustainable Development Goals (SDGs). Our Monitoring and Evaluation framework is constantly evolving to ensure tangible and measurable impact. Check out our core impact areas and learn more about where we're making a difference.</p>
        </div>
        <ul class="impact-areas-list">
          
          
          
          <li><a href="/impact-areas/disaster-risk-reduction/" class="nav-link">Disaster Risk Reduction</a></li>
          
          
          
          <li><a href="/impact-areas/gender-equality/" class="nav-link">Gender Equality</a></li>
          
          
          
          <li><a href="/impact-areas/environment/" class="nav-link">Environment</a></li>
          
          
          
          <li><a href="/impact-areas/clean-energy/" class="nav-link">Clean Energy</a></li>
          
          
          
          <li><a href="/impact-areas/transportation/" class="nav-link">Transportation</a></li>
          
          
          
          <li><a href="/impact-areas/sustainable-cities/" class="nav-link">Sustainable Cities</a></li>
          
          
          
          <li><a href="/impact-areas/public-health/" class="nav-link">Public Health</a></li>
          
          
          
          <li><a href="/impact-areas/water-and-sanitation/" class="nav-link">Water & Sanitation</a></li>
          
          
          
          <li><a href="/impact-areas/poverty-elimination/" class="nav-link">Poverty Elimination</a></li>
          
          
          
          <li><a href="/impact-areas/refugee-response/" class="nav-link">Refugee Response</a></li>
          
          
          
          <li><a href="/disaster-services/project_activations.html" class="nav-link">Disaster Response</a></li>
          
          
        </ul>
      </div>
    </div>
    
    
    <div class="hr-h"></div>
    
    <div class="module-group two-rows">
      <a class="module link-through light-img one" href="/tools-and-data">
        <div class="module-details">
          <h3>Tools & Data</h3>
          <div class="module-text"><p>Access free, open source tools for community mapping. Export data from OpenStreetMap for humanitarian and development programs.</p></div>
          <p class="module-cta">View the tools</p>
        </div>
        <div class="module-image">
          <img src="https://cdn.hotosm.org/website/Liberia_Monrovia_mapping-workshops_IMG_20170427_111804.jpg">
        </div>
      </a>
      <a class="module link-through light-img two" href="/community">
        <div class="module-details">
          <h3>Community & Organization</h3>
          <div class="module-text"><p>Get information about the people behind HOT, how the HOT community is organized, and support available to the community.</p></div>
          <p class="module-cta"><span>Learn more</span></p>
        </div>
        <div class="module-image">
          <img src="https://cdn.hotosm.org/website/IMG_1683.jpg">
        </div>
      </a>
      <a class="module link-through light-img three" href="/partners">
        <div class="module-details">
          <h3>Partnerships</h3>
          <div class="module-text"><p>Want to know more about ways you can partner with HOT? Start creating and supporting the #GlobalGoals with free, open map data through becoming a partner.</p></div>
          <p class="module-cta">Become a partner</p>
        </div>
        <div class="module-image">
          <img src="https://cdn.hotosm.org/website/HOT+Data+Entry+specialists+handed+over+framed,+printed+maps+back+to+the+village+offices.+HOT+IndonesiaRiyadi+Wibowo+cropped.jpeg">
        </div>
      </a>
    </div>
    
    <div class="hr-h"></div>
    
    <div class="home-newsletter">
      <div class="newsletter-signup">
        <h2>Subscribe for updates <br>& announcements</h2>
        <div>
          <form class="mailchimp-signup-subscribe-form mailchimp-signup-subscribe-block-hot-newsletter-form" action="https://hotosm.us9.list-manage.com/subscribe/post?u=5191e27b207136970f2a9ec1b&amp;id=6cd8f1ed72" method="post" id="mailchimp-signup-subscribe-block-hot-newsletter-form" accept-charset="UTF-8">
            <div>
              <div class="mailchimp-signup-subscribe-form-description"></div>
              <div id="mailchimp-newsletter-545917-mergefields" class="mailchimp-newsletter-mergefields">
                <div class="form-item form-type-textfield form-item-mergevars-EMAIL">
                  <input placeholder="signup@example.com" id="edit-mergevars-email" name="EMAIL" value="" size="12" maxlength="128" class="form-text required" type="text">
                </div>
              </div><input name="form_build_id" value="form--u2XdzVfjKIzO-PHYAXERvLHFKnsxU7OiU0DY1ps768" type="hidden">
              <input name="form_token" value="YePokbMFubqmQf1xhP59yxaTweb-5YxG3E1feN-cgD8" type="hidden">
              <input name="form_id" value="mailchimp_signup_subscribe_block_hot_newsletter_form" type="hidden">
              <div class="form-actions form-wrapper" id="edit-actions"><input id="edit-submit" name="op" value="Sign up" class="form-submit" type="submit"></div>
            </div>
          </form>
        </div>
        
      </div>
      <div class="newsletter-description">
        <h3>What you'll get</h3>
        <ul>
          <li>Updates on projects and community information.</li>
          <li>Links to relevant news articles.</li>
          <li>Information about upcoming events.</li>
          <li>Opportunities to get more involved.</li>
        </ul>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
