{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block header %}
    {% include "app/include/header.html" with transparent=True %}
{% endblock header %}
{% block content %}
    <main>
        {% block content_header %}
            {% if page.show_header is not False %}
                {% include "app/include/page_cover.html" %}
            {% endif %}
        {% endblock content_header %}
        {% include "app/include/streamfield.html" with streamfield=page.content %}
    </main>
{% endblock content %}
