{% extends "base.html" %}
{% load wagtailcore_tags app wagtailimages_tags %}
{% block content %}
    <main class="flex-shrink flex-grow flex flex-col max-w-3xl w-full">
        <div class="mb-4 px-2 sm:px-4 lg:px-5 flex-grow">
            {% if page.show_header is not False %}
                <header class="my-5">
                    <div>Open Mapping Hub</div>
                    <div class="mt-4">
                        <h1 class="font-extrabold text-4xl sm:text-6xl mb-2 text-gray-900 leading-tight sm:leading-none">{{ page.title }}</h1>
                    </div>
                    {% if page.short_summary %}
                        <p class="text-xl sm:text-2xl text-gray-800">{{ page.short_summary|richtext }}</p>
                    {% endif %}
                </header>
            {% endif %}
            <div data-toc-target="content" class="space-y-5 flex flex-col">
                {% include "app/include/streamfield.html" with streamfield=page.content %}
            </div>
        </div>
    </main>
{% endblock content %}
