{% extends "app/static_page.html" %}
{% load slippers wagtailimages_tags %}
{% block content %}
    {% block inline_title_block %}
        {% comment %} Handle this differently than normal {% endcomment %}
    {% endblock inline_title_block %}
    {% fragment as label %}
    <span>Contributor</span> <span>Staff</span>
{% endfragment %}
{% page_cover page=page label=label small_image=True %}
{{ block.super }}
{% endblock content %}
{% block metadata %}
    {% comment %} Countries {% endcomment %}
    {% with page.localized_related_countries as related %}
        {% if related|length > 0 %}
            <section class="space-y-1">
                <div>Country</div>
                {% for page in related %}<a class="block link" href="{{ page.url }}">{{ page.name_with_flag }}</a>{% endfor %}
            </section>
        {% endif %}
    {% endwith %}
{% endblock metadata %}
