{% extends "app/static_page.html" %}
{% load slippers %}
{% block content %}
    {% block inline_title_block %}
        {% comment %} Handle this differently than normal {% endcomment %}
    {% endblock inline_title_block %}
    {% page_cover page=page background=True background_image=True %}
    {{ block.super }}
{% endblock content %}
{% block metadata %}
    {% comment %} Impact areas {% endcomment %}
    {% with page.localized_related_impact_areas as related %}
        {% if related|length > 0 %}
            <section class="space-y-1">
                <div>Impact area</div>
                {% for page in related %}<a class="block link" href="{{ page.url }}">{{ page.title }}</a>{% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    {% comment %} Countries {% endcomment %}
    {% with page.localized_related_countries as related %}
        {% if related|length > 0 %}
            <section class="space-y-1">
                <div>Country</div>
                {% for page in related %}<a class="block link" href="{{ page.url }}">{{ page.name_with_flag }}</a>{% endfor %}
            </section>
        {% endif %}
    {% endwith %}
{% endblock metadata %}
