{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <div class="grid gap-8 md:grid-cols-8 lg:grid-cols-12 md:gap-4 lg:gap-8 px-page-row"
        {% if page.show_table_of_contents is not False %}
            data-controller="toc"
            {# djlint:off #}
            data-toc-options-value='{
              "linkClass": "toc-link",
              {% comment %} // Extra classes to add to links. {% endcomment %}
              "extraLinkClasses": "transition duration-150 ease-out hover:ease-in",
              {% comment %} // Class to add to active links,
              {% endcomment %}
              {% comment %} // the link corresponding to the top most heading on the page.
              {% endcomment %} "activeLinkClass": "text-theme-500",
              {% comment %} // Main class to add to lists.
              {% endcomment %} "listClass": "pl-3",
              {% comment %} // Extra classes to add to lists.
              {% endcomment %} "extraListClasses": "",
              {% comment %} // Class that gets added when a list should be collapsed.
              {% endcomment %} "isCollapsedClass": "hidden",
              {% comment %} // Class that gets added when a list should be able
              {% endcomment %}
              {% comment %} // to be collapsed but isn"t necessarily collapsed.
              {% endcomment %} "collapsibleClass": "transition-all",
              {% comment %} // Class to add to list items.
              {% endcomment %} "listItemClass": "my-2",
              {% comment %} // Class to add to active list items. {% endcomment %}
              "activeListItemClass": ""
            }'
            {# djlint:on #}
        {% endif %}>
        {% comment %} Metadata {% endcomment %}
        <div class="order-2 md:order-1 md:col-span-2 lg:col-span-3 my-16 text-sm font-medium">
            <div class="space-y-4 sidebar-sticky">
                {% block metadata %}
                {% endblock metadata %}
                <section class="space-y-1">
                    <div>Share</div>
                    <div class="flex flex-row justify-start items-center space-x-2">
                        {% include "app/include/share_links.html" with class="text-gray-900 w-5 h-5" %}
                    </div>
                </section>
            </div>
        </div>
        {% comment %} Page content {% endcomment %}
        <main class="order-1 md:order-2 md:col-span-6 my-16">
            <div class="mx-auto md:max-w-2xl w-full flex flex-col">
                <div class="mb-4 flex-grow">
                    {% block inline_title_block %}
                        {% if page.show_header is not False %}
                            <header class="mb-5">
                                {% if page.show_breadcrumb is not False %}
                                    <ul class="list-unstyled text-gray-600 text-sm mb-2 content-separator-2 separator-content-slash">
                                        {% for ancestor in page.get_ancestors %}
                                            {% if ancestor.content_type.model != "page" and ancestor.content_type.model != "homepage" %}
                                                <li class="inline-block">
                                                    <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page.label %}<li class="inline-block capitalize">{{ page.label }}</li>{% endif %}
                                    </ul>
                                {% endif %}
                                <div class="mt-4">
                                    <h1 class="font-extrabold text-4xl sm:text-6xl mb-2 text-gray-900 leading-tight sm:leading-none">{{ page.title }}</h1>
                                </div>
                                {% if page.short_summary %}
                                    <p class="text-xl sm:text-2xl text-gray-800">{{ page.short_summary|richtext }}</p>
                                {% endif %}
                            </header>
                        {% endif %}
                        {% if page.featured_image %}
                            <div class="my-4">
                                {% image page.featured_image width-800 class="w-full" alt=page.feature_image.alt_text %}
                                {% if page.featured_image.attribution %}
                                    <div class="text-gray-600 text-sm italic">{{ page.featured_image.attribution }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock inline_title_block %}
                    <div data-toc-target="content" class="space-y-5 flex flex-col">
                        {% include "app/include/streamfield.html" with streamfield=page.content %}
                    </div>
                </div>
            </div>
        </main>
        {% comment %} Page sidebar {% endcomment %}
        <aside class="hidden order-3 lg:block lg:col-span-3 my-16">
            {% block sidebar %}
                {% if page.show_table_of_contents is not False %}
                    <div class="sidebar-sticky mb-4 right-3 text-gray-800 text-sm">
                        <div class="-ml-3" data-toc-target="toc"></div>
                    </div>
                {% endif %}
                {% if page.sidebar %}
                    {% include "app/include/streamfield.html" with streamfield=page.sidebar %}
                {% endif %}
            {% endblock sidebar %}
        </aside>
    </div>
{% endblock content %}
